<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th scope="col">model</th>
            <th scope="col">series</th>
            <th scope="col">number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${carList}">
            <td th:text="${car.model}"/>
            <td th:text="${car.series}"/>
            <td th:text="${car.number}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>